<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Samples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dispatch-apply.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dispatch-nWide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dispatch-netcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dispatch-proc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dispatch-readFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dispatch-readFileF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dispatch-timers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C96F87F0F8288070051687B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBAB0240F7801C6006D97F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBAB0300F780272006D97F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBAB0370F78028E006D97F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBAB03E0F7802A6006D97F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBAB0450F7802BA006D97F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFAB44B80FCDF56C007DC956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFAB44EF0FCDF90A007DC956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
